/* CSS Document */
*{margin:0; padding:0}
body{font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#4A4A4A}
input, textarea {font-family:Arial, Helvetica, sans-serif}
img{border:0}
a:link,a:visited,a:active{color:#0470E6; text-decoration:none}
a:hover{color:#0359B8; text-decoration:underline}
hr{height:1px; background-color:#E8E8E8; border:none; margin-bottom:10px}

/*
@font-face {
    font-family: 'UVNBayBuom';
    src: url('fonts/UVNBayBuomHep_R.eot?');
    src: url('fonts/UVNBayBuomHep_R.woff') format('woff'),
		 url('fonts/UVNBayBuomHep_R.ttf') format('truetype'),
		 url('fonts/UVNBayBuomHep_R.svg') format('svg');
}
*/

#content{clear:both; height:auto; padding-bottom:20px}
.content{width:960px; margin:auto}

#top{height:28px; line-height:28px; color:#666; border-bottom:solid 1px #d1d1d1}
#top span{display:block; width:auto; float:left; margin-right:20px; padding-left:25px; background:url(web_img/icon-top.gif) no-repeat left top}
#top_support{width:auto; float:left}
#top_user{width:auto; float:right}
#top_user a{color:#333}
#top_user a:hover{text-decoration:underline}

#header{height:75px}

#search{width:330px; height:29px; float:right; margin-top:20px; overflow:hidden; border:solid 1px #CCC}
#search_txt{width:auto; float:left}
#search_txt input{width:250px; height:29px; line-height:29px; color:#666; padding:0 15px; border:none; background:none}
#search_btn{width:auto; float:right}
#search_btn input{width:50px; height:29px; font-weight:bold; color:#FFF; text-align:center; border:none; background-color:#999}

#slider{width:100%; height:auto; clear:both;}

#home_page{clear:both; margin-top:30px}
#home_page h1{color:#D37100; font-size:180%; text-transform:uppercase; text-align:center; margin-bottom:30px}
#home_page .home_chongmuoi{width:160px; float:left; line-height:22px; color:#666; text-align:center}
#home_page .home_chongmuoi .title_chongmuoi{color:#494949; font-size:120%; font-weight:bold; margin:5px 0}

#about_home{clear:both}
#about_home h2{line-height:22px; font-size:100%; font-weight:100; margin:10px 0; padding-left:30px; background:url(web_img/icon_about_home.jpg) no-repeat top left; background-position:0px 3px}

.product_list{clear:both}
.product_list .product_title{height:44px; line-height:44px; font-size:180%; color:#3C9401; margin-bottom:20px; padding-left:50px}
.product_list .product_item {width:225px; height:320px; overflow:hidden; float:left; margin:0 6px 35px 6px; border:solid 1px #CCC}
.product_list .product_item a{color:#494949}
.product_list .product_item a:hover{color:#0470E6}
.product_list .product_item .product_item_img_bg{width:225px; height:225px; background:url(web_img/bg-product.png) no-repeat; position:absolute; z-index:20}
.product_list .product_item .product_item_img{height:215px; overflow:hidden; padding:5px 0; text-align:center; position:relative; z-index:1}
.product_list .product_item .product_item_img img{height:215px}
.product_list .product_item .product_item_name{font-size:100%; text-align:center; margin-bottom:10px; line-height:20px; height:40px; overflow:hidden}
.product_list .product_item .product_item_order{width:auto; float:left; font-weight:bold; color:#FFF; margin-left:5px; padding:4px 10px; background-color:#E8993E; cursor:pointer}
.product_list .product_item .product_item_giagoc{width:130px; float:right; text-align:right; margin-right:5px; color:#666; text-decoration:line-through}
.product_list .product_item .product_item_giaban{width:130px; float:right; text-align:right; margin:5px 5px 0 0; font-weight:bold; color:#F00}

#menu_footer{height:32px; line-height:32px; border-top:solid 1px #CCC; border-bottom:solid 1px #CCC;}
#menu_footer a{width:auto; float:left; font-weight:bold; color:#666; padding-right:30px;}
#run_top{width:auto; float:right; padding-left:20px; font-weight:bold; cursor:pointer; background:url(web_img/icon-all.png) no-repeat; background-position:0px -62px}

#footer{line-height:25px; padding:20px 0}
#footer h3{color:#337F00; text-transform:uppercase}

#cart{width:auto; float:right}
#cart #cart_icon{width:17px; height:29px; float:left; color:#337E01; font-weight:bold; font-size:11px; text-align:center; margin-right:10px; padding:4px 5px 0 11px; background:url(web_img/icon-all.png) no-repeat; background-position:0 -28px}
#cart a{display:block; width:auto; float:left; line-height:32px; color:#FFF; font-weight:bold; }
#cart a:hover{color:#FF0}

.viewpost{line-height:22px}
.viewpost p, .viewpost div {line-height:22px; margin:10px 0}
.viewpost li{line-height:20px; margin-left:35px}
.viewpost h1{font-size:160%; line-height:30px; color:#ED1E28; margin-bottom:5px}
.viewpost h2, .viewpost h3, .viewpost h4, .viewpost h5, .viewpost h6 {font-size:100%}
.viewpost .date{color:#888; font-style:italic; text-align:right}

#navigator{clear:both; padding:0 0 10px 10px}
#navigator a{padding-right:15px; font-size:12px; color:#666}
#navigator a:hover{color:#000}
#navigator span{font-size:9px; color:#999; padding-right:5px}

#phantrang{clear:both; margin-top:10px}
#phantrang a{margin-right:3px; padding:5px 10px; text-align:center; background-color:#666; color:#FFF}
#phantrang a:hover{background-color:#ED1E28}

/*menu*/
#menu{height:32px; background-color:#3C9401}
#icon_home{width:16px; height:15px; padding:8px 20px 8px 0; background:url(web_img/icon-all.png) no-repeat top left; background-position:0px 8px}
#icon_home a{width:16px; height:15px; display:block}

#nav, #nav ul {list-style:none; position:relative; z-index:1000}
#nav a:link, #nav a:active, #nav a:visited {display:block; background-color:none}
#nav li a {line-height:32px; color:#FFF; font-weight:bold; padding:0 20px}
#nav a:hover {text-decoration:none; color:#FF0}
#nav li {float:left; position:relative}
#nav ul {width:160px; position:absolute; top:32px; display:none}
#nav li ul a {width:180px; line-height:30px; float:left; color:#FFF; text-transform:none; border-top:solid 1px #3C9401; background-color:#4AB801}
#nav li ul a:hover {background-color:#43A501; color:#FFF}
#nav ul ul {top:auto}
#nav li ul ul {left:220px}
#nav li ul ul a{font-weight:100}
#nav li:hover ul ul,
#nav li:hover ul ul ul,
#nav li:hover ul ul ul ul {display:none}
#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul,
#nav li li li li:hover ul {display:block}
/*end menu*/

/* popup */
#backgroundPopup{display: none; position: fixed; _position: absolute; /*IE 6*/ height: 100%; width: 100%; top: 0; left: 0; background: #000000; order: 1px solid #CECECE; z-index:1100}
#popupContact{display: none; position: fixed; _position: absolute; /*IE 6*/ z-index:1200}
#content_popup{width:600px; height:auto; padding:10px 10px 25px 25px; background-color:#FFF}
.error{font-style:italic; color:#F00}

/*partner*/
.simply-scroll-container {position:relative}
.simply-scroll-clip {overflow:hidden; position:relative;}
.simply-scroll {height:120px; width:100%;}
.simply-scroll .simply-scroll-clip {height:120px; width:100%;}
.simply-scroll .simply-scroll-list li {float:left; height:120px; margin-right:5px; width:200px;}

/*Photos*/
#photos * {margin:0px; padding:0px}
#photos ul li {display:inline; width:200px; height:180px; float:left; overflow:hidden; margin:6px}
#photos .wide {border-bottom:1px #000 solid; width:4000px}
#photos .img{display:block; height:120px; overflow:hidden; margin-bottom:3px; border:solid 3px #000}
#photos .img a{display:block; width:208px; height:120px; border:solid 1px #CCC}
#photos .img img{width:196px}
#photos h3{font-size:100%; font-weight:100; color:#666}