RewriteEngine On
RewriteCond %{HTTP_HOST} ^forexsignalpro.net
RewriteRule ^(.*)$ http://www.forexsignalpro.net/$1 [R=permanent,L]
RewriteRule js - [L]
RewriteRule public - [L]
RewriteRule themes - [L]
RewriteRule (.*) application/index.php [L]
AddDefaultCharset UTF-8
Options -Indexes