RewriteEngine On
RewriteRule images - [L]
RewriteRule js - [L]
RewriteRule public - [L]
RewriteRule themes - [L]
RewriteRule php - [L]
RewriteRule (.*) app/index.php [L]
AddDefaultCharset UTF-8
Options -Indexes