/* CSS Document */
header{height:350px}
header #logo{width:auto; float:left; margin:120px 0 0 90px}
/*end header*/

.font-times{font-family:"Times New Roman", Times, serif}
.content{padding:0 70px}
.z-index-2{position:relative; z-index:2}
.z-index-3{position:relative; z-index:3}

/*homepage*/
.title_home{font-size:200%; margin-bottom:20px}
#homepage{clear:both}
#news{width:300px; float:left}
#news .item{clear:both; line-height:22px; margin-bottom:15px}
#news .item h3{font-size:100%; margin-bottom:5px}
#news .item p{height:44px; overflow:hidden}
#news .link{float:right; font-weight:bold; text-decoration:underline}
#about{width:510px; float:right}
#about .img{float:left; margin:20px 10px 0 0}
/*end homepage*/

#bg_slider{width:400%; height:300px; position:absolute; left:-150%; z-index:1; background:url(../img/bg-slider.gif)}
#slider{height:300px; position:relative; z-index:1}

footer{clear:both; line-height:150%}
#social p{margin-bottom:5px; font-weight:bold}
#social img{margin-right:5px}
#content_footer{width:1000px; margin:auto; padding:20px 0}
#contact_footer{width:auto; float:left}
#menu_footer{clear:both; margin-bottom:20px; padding:8px 0; border-top:solid 1px #DDD; border-bottom:solid 1px #DDD}
#menu_footer a{padding:0 25px}
#run_top{width:auto; float:right; clear:right; height:28px; line-height:28px; padding:0 20px 0 35px; background:url(../img/top.png) no-repeat left top}
#run_top:hover{font-weight:bold; color:#FFF; background-position:0px -32px; cursor:pointer}

#article{width:640px; float:left; margin-left:70px}
#right{width:225px; float:right; margin-right:50px}

#thongtinmoi{clear:both; padding:50px 0}
#thongtinmoi .title{font-size:130%; font-weight:bold; padding:0 0 10px 5px; border-bottom:dashed 1px #666}
#thongtinmoi .item{font-size:90%; list-style:none; line-height:18px; padding:10px 0 10px 5px; border-bottom:dashed 1px #666}
#thongtinmoi .item a{color:#000}
#thongtinmoi .item h4{font-size:100%; font-weight:100}
#thongtinmoi .item p{color:#444; height:54px; overflow:hidden}

#social_facebook{margin:20px 0 30px 0; padding:10px; border:dashed 1px #333}

#dactinh{clear:both}
#dactinh .img{width:350px; float:left; margin:0 10px 0 0}
#dactinh .img img{width:350px}
#dactinh .price{font-size:150%; color:#C00; margin:0 0 10px 0}
#dactinh .price span{display:block; font-size:80%; color:#333; text-decoration:line-through; margin:0}
#dactinh .buy{width:auto; float:left; color:#FFF; font-size:120%; font-weight:bold; margin:0 0 5px 0; padding:8px 20px 8px 45px; background:url(../img/icon-cart.png) no-repeat #333; background-position:10px 50%}
#dactinh .dactinh{width:280px; float:left; margin:0}
#dactinh .dactinh p, #dactinh .dactinh div{margin:15px 0 15px 15px; padding-left:25px; background:url(../img/icon_dactinh.png) no-repeat; background-position:0px 2px}

#support{width:260px; height:auto; float:right; position:fixed; bottom:0; right:50px; background-color:#FFF; z-index:12}
#support .title{clear:both; height:30px; line-height:30px; color:#C00; font-weight:bold; font-size:110%; padding-left:50px; border-bottom:solid 1px #CCC; background:url(../img/icon-support.jpg) no-repeat; background-position:5px 50%}
#support .window{display:block; width:50px; height:30px; float:right; background:url(../img/icon-service.png) no-repeat; cursor:pointer}
#support .minimize{background-position:50% -40px}
#support .maximum{display:none; background-position:50% 10px}
#support .s-content{padding:10px}
#support .p{line-height:25px; text-align:center; color:#888; font-weight:bold}
#support .tel{color:#00F}
#support .hot{color:#F00}

#chat{line-height:25px; text-align:center; font-weight:bold; margin-bottom:5px; background:url(../img/chat-icon.png) no-repeat; background-position:83% 3px}
#chat a{color:#333}

#ajax_chat{line-height:20px; color:#666; margin-top:10px; padding-top:10px; border-top:dashed 1px #CCC;}
#ajax_chat .p-chat{margin-bottom:10px}
#ajax_chat .select{width:215px; padding:4px 10px; margin:5px 0}
#ajax_chat .txt{width:215px; padding:4px 10px; margin:5px 0}
#ajax_chat .btn{padding:5px 20px; margin:5px 0; cursor:pointer}
#ajax_chat .textarea{width:218px; height:40px; float:left; line-height:20px; resize:none; overflow:auto; padding:4px 10px; margin:5px 0; border:solid 1px #CCC; background-color:#F3F3F3}

#chat-wrap{border:1px solid #CCC; margin-bottom:3px; }
#chat-area{height:200px; line-height:20px; overflow:auto; background-color:white; }
#chat-area .item1{width:auto; float:left; clear:both; padding:5px 50px 5px 5px}
#chat-area .item1 b{color:#00F}
#chat-area .item2{width:auto; float:right; clear:both; color:#666; padding:5px 10px 5px 50px}
#chat-area .item2 b{color:#999}

#ajax_chat .sound{width:1px; height:1px; overflow:hidden; visibility:hidden}

/*






#title{clear:both; text-align:center; font-size:20px; margin-bottom:20px}
#user{clear:both; width:auto; float:right; margin-bottom:10px}
#user b{color:#00F}
#user span{font-size:11px}

#left{width:350px; height:400px; float:left; overflow:auto; padding:10px; border:solid 1px #CCC}
.item_left{clear:both; line-height:20px; padding:10px 5px 10px 5px; border-bottom:solid 1px #CCC}
.item_left em{font-size:11px; color:#666}
.item_left .info{width:280px; float:left}
.item_left .chat{display:none; width:40px; height:20px; float:right; font-size:90%; text-align:center; color:#FFF; font-weight:bold; padding:2px 0; background-color:#09F}
.item_left .chat a{display:block; color:#FFF}
#active{background-color:#FF9}

#right{width:400px; height:400px; float:right; line-height:20px; padding:10px; border:solid 1px #CCC; background-color:#CCC}
#chat{height:300px; overflow:auto; margin-bottom:5px; background-color:#FFF}
#chat .item1{width:auto; float:left; clear:both; color:#111; padding:5px 80px 5px 10px}
#chat .item1 b{color:#00F}
#chat .item2{width:auto; float:right; clear:both; color:#666; padding:5px 10px 5px 80px}

#loading{display:block; width:400px; height:300px; text-align:center; padding-top:100px; position:absolute; z-index:2; background-color:#FFF; opacity:0.5}
#loading img{width:100px}
*/