RewriteEngine On
RewriteCond %{HTTP_HOST} ^dayamthuc.vn
RewriteRule ^(.*)$ http://www.dayamthuc.vn/$1 [R=permanent,L]
RewriteRule js - [L]
RewriteRule upload - [L]
RewriteRule themes - [L]
RewriteRule (.*) application/index.php [L]
AddDefaultCharset UTF-8
Options -Indexes