@charset "utf-8";
*{margin:0px}
body{color:#494949; font-size:13px; font-family:Arial, Helvetica, sans-serif; background:url(web_img/bg.gif) top repeat-x}
img{border:0px;}
a{color:#0072FF; text-decoration:none}
a:hover{color:#FF0000; text-decoration:underline}
input, textarea {color:#666; font-family:Arial, Helvetica, sans-serif}

#wrapper{width:1000px; margin:auto; padding-top:8px}

/*header*/
#header{clear:both; height:135px;}
#icon_header{width:540px; height:40px; float:left}
#icon_header .icon_header_item{width:140px; float:left; padding-left:35px; background:url(web_img/icon-header.gif) no-repeat}
#icon_header .icon_header_item h4{color:#f17c85; font-size:90%; padding-top:5px}
#icon_header .icon_header_item p{font-size:85%}
#hotline{width:190px; height:46px; color:#666; float:left; text-align:right; font-weight:bold; padding:10px 30px 0 0}
#hotline span{font-size:120%; color:#F00}
#chat{width:230px; height:55px; float:right}
#chat #chat_text{width:auto; float:left; color:#777; font-size:110%; font-weight:bold; margin:13px 10px 0 0}
#chat #chat_yahoo{width:auto; float:left; margin:13px 10px 0 0}
#chat #chat_skype{width:auto; float:left; margin-top:8px}
#search{width:230px; height:28px; float:right; margin:0 5px 10px 0; border:solid 1px #999}
#search #txtSearch{width:160px; height:28px; line-height:28px; float:left; padding:0 10px 0 15px; border:none; background:none}
#search #btnSearch{width:40px; height:28px; float:right; border:none; background:url(web_img/btn-search.gif) center #FFF no-repeat; cursor:pointer}
#logo{width:270px; height:60px; clear:left; float:left; margin-top:5px}
#logo p{letter-spacing:0.7px; color:#777}
/*end header*/

#slider{clear:both; border:solid 6px #FFDABD; margin-bottom:30px}

/*bo goc*/ .bogoc_5px, .bogoc_8px, .bogoc_10px{overflow:hidden}

/*home*/
#home_about{width:460px; float:left; margin-right:10px}
#home_about h2{font-size:125%; color:#e200e5}
#home_img{width:140px; float:left; overflow:hidden}
#home_news{width:380px; float:right}
#home_news h3{font-size:125%; color:#47b119; margin-bottom:10px}
#home_news li{list-style:none; padding:5px 0 5px 20px; border-bottom:dashed 1px #CCC; background:url(web_img/li.gif) no-repeat left; background-position:8px 13px}
#home_news li a{display:block; line-height:20px}
/*end home*/

.product_list{clear:both}
.product_list .product_title{line-height:25px; color:#e18b05; font-size:150%; font-weight:bold; margin-bottom:20px; padding-left:35px; background:url(web_img/icon-home.gif) no-repeat left}
.product_list .product_box{width:190px; float:left; line-height:20px; margin-bottom:10px; border:solid 1px #999}
.product_list .product_img{height:200px; text-align:center; margin:10px 10px 5px 10px; overflow:hidden}
.product_list .product_img img{height:200px}
.product_list .product_price{text-align:right; color:#F00; font-weight:bold; margin:0 10px 5px 10px}
.product_list .product_price span{color:#666; font-weight:100; font-size:85%; text-decoration:line-through; margin-right:10px}
.product_list .product_name{height:40px; overflow:hidden; font-size:100%; font-weight:100; margin:0 10px 5px 10px;}
.product_list .product_buy{color:#FFF; padding:5px 0 5px 55px; background:url(web_img/cart.png) no-repeat left #999; background-position:20px 6px}
.product_list .product_buy:hover{background-color:#F17C85; cursor:pointer}

.viewpost{line-height:150%}
.viewpost h1{font-size:140%; color:#F00}
.viewpost h2, .view_post h3, .view_post h4{font-size:100%}
.viewpost p, .view_post div {margin:12px 0}
.viewpost li{padding:0; margin:5px 35px}

/*footer*/
#footer{clear:both; padding-top:20px}
#menu_footer{height:28px; line-height:28px; padding:3px 10px; background-color:#FFB77D}
#menu_footer a{color:#4F4F4F; padding:0 10px}
#run_top{width:auto; float:right; color:#4F4F4F; font-weight:bold; padding:0 10px 0 35px; background:url(web_img/top.png) no-repeat left; background-position:0px -32px; cursor:pointer}
#run_top:hover{color:#FFF; background:url(web_img/top.png) no-repeat left; background-position:0px 0;}
/*end footer*/

/*menu*/
#menu{width:auto; float:right}
#nav, #nav ul {list-style:none; position:relative; line-height:25px; z-index:10; margin:0; padding:0}
#nav a:link, #nav a:active, #nav a:visited {display:block; background-color:none; text-decoration:none; color:#4F4F4F}
#nav li a {margin:0 5px; padding:0 12px; background-color:#FFB77D;}
#nav a:hover {color:#FFF; background-color:#F17C85}
#nav li {float:left; position:relative}
#nav ul {position:absolute; width:200px; top:25px; display:none}
#nav li ul a {width:160px; line-height:20px; float:left; font-weight:normal; padding:5px 10px; background-color:#FFD5B3; border-bottom:solid 1px #FFF}
#nav li ul a:hover {background-color:#FFB77D}
#nav ul ul {top:auto}
#nav li ul ul {left:180px}
#nav li:hover ul ul,
#nav li:hover ul ul ul,
#nav li:hover ul ul ul ul {display:none}
#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul,
#nav li li li li:hover ul {display:block}

/* popup */
#backgroundPopup{display: none; position: fixed; _position: absolute; /*IE 6*/ height: 100%; width: 100%; top: 0; left: 0; background: #000000; order: 1px solid #CECECE; z-index:1100}
#popupContact{display: none; position: fixed; _position: absolute; /*IE 6*/ z-index:1200}
.popupContactClose{font-weight: bold; cursor:pointer}
#content_popup{width:890px; height:auto; padding:35px 25px; background-color:#FFF}
#content_popup #view_sosanh{border-top:#CCC 1px solid; border-left:#CCC 1px solid}
#content_popup #view_sosanh tr td{border-bottom:#CCC 1px solid; border-right:#CCC 1px solid; padding:10px 5px}

.txt{width:310px; margin:5px 0; padding:5px 5px; background-color:#F1F1F1; border:solid 1px #DDDDDD}
.textarea{width:750px; height:110px; line-height:22px; overflow:auto; resize:none; margin:5px 0; padding:5px 5px; background-color:#F1F1F1; border:solid 1px #DDDDDD}
.btn{background-color:#FF8A00; border:none; font-size:160%; color:#FFF; font-weight:bold; padding:8px 30px; margin-top:10px; cursor:pointer}